body {
    background-image: url("123.jpg");
    /* align-content: center; */
}
html {
    position: relative;
    min-width: 1024px;
    min-height: 768px;
    height: 100%;
}






#imagee {
    padding-left: 330px;
    position: relative;
    -webkit-animation: ani 50000ms ease-in;
  }
  
  @keyframes ani {
      0% {
          transform: scale(1);
          -webkit-transform: scale(1.5);
      }
      50% {
          transform: scale(2);
          -webkit-transform: scale(4.0);
      }
      100% {
          transform: scale(2);
          -webkit-transform: scale(1.0);
      }
  }


.button {
    background-color: black;
    border: none;
    color: white;
    padding: 8px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
#in1c2 {
    margin-left: 20px;
}

#c1 {    
    position: relative;
    
    border-radius: 200px 25px 0px 0px;
    border: 5px solid black;
    border-bottom-color: transparent;
    margin-top: -60px;
    margin-bottom: 10px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: bisque;
}

#c2 {
    
    position: relative;
    border-radius: 0px 0px 200px 25px;
    /* height: 500px; */
    overflow: auto;
    font-size: 20px;
    background-color: bisque;
    border: 5px solid black;
    border-top-color: transparent;
    margin-top: 10px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}